# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environments
.venv/
env/
venv/

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Model files (optional, if you don’t want to track large models)
# models/
# *.keras

# Data files (ignored)
data/*

# Runtime logs (contains sensitive usage metadata)
logs/